{% extends 'base.html' %}
{% block title %}Category Add{% endblock %}
{% block menu %}

{% endblock %}
{% block content %}
<h1>Category Edit</h1>
<form action="{% url 'category_edit' category.id %} " method="POST">
        {% csrf_token %}
    <div class="disp">
        <input name="title" id="title" type="text" value={{category.title}} placeholder="Title">
    </div>
    <br/>
    <div class="disp">
        <textarea name="description" id="description" rows="10" cols="30" wrap="hard" placeholder="Description"  required>{{category.description}}</textarea>
    </div>
    <br/>
    <input value="Edit Category" type="submit">
</form>
{% endblock %}