{% extends 'base.html' %}
{% load l10n %}
{% block title %}Products{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
<div class="content">
    <div class="product-list">
        {% for p in products %}
        <div class="product-item">
            <img class="product-img" src="static/images/{{ p.photo }}">
            <div class="product-desc">
                <p class="product-title">{{ p.title }}</p>
                <p>{{ p.cat }}</p>
                <p class="product-price">{{ p.price|localize }} KZT</p>
                <p><a href="{% url 'product_view' p.id %}">see more >>></a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}