{% extends 'base.html' %}
{% load l10n %}
{% block title %}Product Add{% endblock %}
{% block menu %}

{% endblock %}
{% block content %}
<h1>Product Edit</h1>
<form action="{% url 'product_add' %} " method="POST">
        {% csrf_token %}
    <div class="disp">
        <input name="title" id="title" type="text" value="{{ product.title }}" >
    </div>
    <br/>
    <div class="disp">
        <input name="price" id="price" type="text" value={{ product.price }} >
    </div>
    <br/>
    <div class="disp">
        <input name="photo" id="photo" type="text" value="{{ product.photo}}">
    </div>
    <br/>
    <div class="disp">
        <select name="cat_id" id="cat_id" required>
            {% for cat in categories %}
                <option class=<"{{cat.title}}" value="{{cat.id}}">{{cat.title}}</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <div class="disp">
        <textarea name="description" id="description" rows="10" cols="30" wrap="hard" required>{{ product.description }}</textarea>
    </div>
    <br/>
    <input value="Edit Product" type="submit">
</form>
{% endblock %}